@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (max-width: 768px) {
  body {
    background-size: contain; /* Ajusta a imagem para caber dentro do contêiner em telas menores */
  }
}


body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    url('/tela_inicial.png');
  background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-position: center; /* Centraliza a imagem */
  color: rgb(var(--foreground-rgb));
  min-height: 100vh; /* Garante que o corpo ocupe a altura total da tela */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
